
    <nav class="navbar">
      
      <ul>
        <li><a class="active" href='/'>Home</a></li>
        <li><a href='/gallery'>Gallery</a></li>
        <li><a href='/subscribe'>Subscribe</a></li>
        
      </ul>
    </nav>