<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="css/main.css">
    <script type="module" src="Js/client.js"></script>
</head>


<body class=<%= current %>>
    <%- include('../partials/header'); %>
    <main class="gallery">

    </main>
    <%- include('../partials/footer'); %>
</body>
</html>