<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="css/main.css">
    <script type="module" src="Js/client.js"></script>
</head>


<body class=<%= current %>>
  <div class="wrapper">
  <%- include('../partials/header'); %>
  
  <main>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit consectetur dolor blanditiis quae illum corporis minima voluptas id maiores ducimus inventore hic quasi sequi quidem nobis tempora accusantium sapiente nam amet voluptatum perferendis aliquid quibusdam, sed tenetur?</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit consectetur dolor blanditiis quae illum corporis minima voluptas id maiores ducimus inventore hic quasi sequi quidem nobis tempora accusantium sapiente nam amet voluptatum perferendis aliquid quibusdam, sed tenetur?</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit consectetur dolor blanditiis quae illum corporis minima voluptas id maiores ducimus inventore hic quasi sequi quidem nobis tempora accusantium sapiente nam amet voluptatum perferendis aliquid quibusdam, sed tenetur?</p>
        
  </main>
  <%- include('../partials/footer'); %>
    
</div>
</body>
</html>